.DS_Store

/build/
/tags

node_modules
testFiles/results
testFiles/*.out
testFiles/*.so

lib/core/metadata.js
lib/core/MetadataBlog.js

website/translated_docs
website/build/
website/yarn.lock
website/node_modules
website/i18n/*
