[Unit]
Description=Userland out-of-memory killer daemon

[Service]
Environment=FB_SERVICE_ID=wdb/fb_oomd
# Don't remove drop in dir every restart
RuntimeDirectoryPreserve=restart
Restart=always
SyslogIdentifier=fb-oomd
RestartPreventExitStatus=3
