name: CI

on:
  push:
    branches:
    - master
  pull_request:
    branches:
    - master

jobs:
  check-format:
    name: Check clang format
    runs-on: ubuntu-latest
    steps:
      - run: sudo apt install clang-format
      - name: Checkout code
        uses: actions/checkout@v2
      - run: ./clang-format.sh
      - run: git diff --exit-code
  build:
    name: Build and test repo
    runs-on: ubuntu-latest
    strategy:
      matrix:
        include:
          - cc: gcc-8
            cxx: g++-8
          - cc: clang
            cxx: clang++
    env:
      CC: ${{ matrix.cc }}
      CXX: ${{ matrix.cxx }}
    steps:
      - name: Install dependencies
        run: sudo apt install \
          pkg-config \
          libsystemd-dev \
          libjsoncpp-dev \
          googletest \
          meson \
          g++-8
      - name: Checkout code
        uses: actions/checkout@v2
      - run: meson build/
      - run: ninja -C build/
      - run: ninja -C build/ test
